<div class="row">
    <div class="col-lg-5">
      <ul class="list-group list-group-horizontal-xl blancas">
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
        <a class="list-group-item list-group-item-action" style="background-color: white;"></a>
      </ul>
    </div>
</div>

<br>

<div class="row posicion">
    <div class="col-lg-md">
      <ul class="list-group list-group-horizontal-xl negras">
        <a class="list-group-item list-group-item-action" style="background-color: black;"></a>
    </div>
    <div class="col-lg-md">
      <ul class="list-group list-group-horizontal-xl negras">
        <a class="list-group-item list-group-item-action" style="background-color: black;"></a>
      </ul>
    </div>
    <div class="col-lg-md">
      <ul class="list-group list-group-horizontal-xl negras">
        <a class="list-group-item list-group-item-action" style="background-color: black;"></a>
      </ul>
    </div>
    <div class="col-lg-md">
      <ul class="list-group list-group-horizontal-xl negras">
        <a class="list-group-item list-group-item-action" style="background-color: black;"></a>
      </ul>
    </div>
    <div class="col-lg-md">
      <ul class="list-group list-group-horizontal-xl negras">
        <a class="list-group-item list-group-item-action" style="background-color: black;"></a>
      </ul>
    </div>
</div>


<audio controls>
      <source src="../assets/sonidos/note2.wav">
</audio>
